.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background: linear-gradient(135deg, #0f1419 0%, #1a1f2e 100%);
}

.cloud {
    position: absolute;
    background: var(--color-cloud-dark);
    border-radius: 50%;
    filter: blur(20px);
    opacity: 0.4;
    animation: float 20s infinite ease-in-out alternate;
}

.cloud:nth-child(1) {
    width: 300px;
    height: 300px;
    top: -50px;
    left: -50px;
    animation-duration: 25s;
}

.cloud:nth-child(2) {
    width: 400px;
    height: 400px;
    bottom: -100px;
    right: -50px;
    animation-duration: 30s;
    animation-delay: -5s;
}

.cloud:nth-child(3) {
    width: 250px;
    height: 250px;
    top: 40%;
    left: 60%;
    animation-duration: 22s;
    animation-delay: -10s;
}

@keyframes float {
    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(30px, 20px) scale(1.1);
    }
}